header {
    background: darkblue;
    color: azure;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 25px;
}
main {
    background: lightgreen;
    width: 600px;
	margin: 0 auto;
    padding: 15px;
    border: solid red 5px;
}
footer {
    background: darkorchid;
    color:lightcoral;
    text-align: center;
    padding: 25px 0;
    margin-top: 25px;
}